/*-------------------------------------------------
Author : WB,Seo
Create date : 2024. 01. 23.
Last update : 
-------------------------------------------------*/

/* ========================================== PC */
/* ================= INTRO */
#intro {
    overflow: hidden;
    width: 100vw;
}
.intro-inner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.intro-inner .name {
    display: flex;
    font-size: 8vw;
    font-weight: 800;
    letter-spacing: -0.5vw;
    cursor: default;
}
.intro-inner .info {
    margin-top: 15px;
    font-size: 2.4rem;
}
.intro-inner .info p:nth-child(2) {margin-top: 8px;}

/* ================= WALL */
#wall {
    position: relative;
    display: flex;
    width: 100vw; height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wall-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: perspective(4000px) translateZ(-200.5px);
}
.wall-inner > div {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 80px 8px;
    height: 100%;
    backface-visibility: hidden;
}
.wall-inner .wall-label {
    display: flex;
    font-size: 8rem;
    font-weight: 500;
    cursor: default;
}

/* ================= Company Portfolio */
#company_project {height: 70vh !important;}
.comp-inner {
    position: relative;
    width: 100vw;
}
.comp-inner .items img {width: 100%;}
.comp-inner .pj-front, .comp-inner .pj-back {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    display: flex;
    z-index: 20;
}
.comp-inner .pj-front .front-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.comp-inner .pj-front .front-wrap .items-row {
    width: 100%;
    justify-content: space-between;
    position: relative;
    display: flex;
    margin-bottom: 17%;
}
.comp-inner .pj-front .front-wrap .items-row .items {
    position: relative;
    width: 20.73vmax;
    box-shadow: 16px 16px 34px rgba(0,0,0,.12);
}
.comp-inner .pj-front .front-wrap .items-row .items:nth-child(2) {top: 103%;}
.comp-inner .pj-front .front-wrap .items-row .items:nth-child(3) {top: 216%;}
.comp-inner .pj-front .front-wrap .items-row .items.items-right {
    position: absolute;
    top: 0; right: 0;
}
.comp-inner .pj-back {z-index: 10;}
.comp-inner .pj-back .back-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.comp-inner .pj-back .back-wrap .items-row {
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 21.5%;
}
.comp-inner .pj-back .back-wrap .items-row .items {
    position: relative;
    width: 14.6vmax;
    box-shadow: 2px 2px 17px rgba(0,0,0,.12);
    filter: blur(1px)
}
.comp-inner .pj-back .back-wrap .items-row .items:first-child {top: 13vw; left: 19vw;}
.comp-inner .pj-back .back-wrap .items-row .items:last-child {top: 28.8vw; left: 43.8vw;}

/* ================= Website */
.web-inner {
    position: relative;
    width: 100vw; height: 100vh;
    background: #d5d1c6;
}
.web-inner .website-list {
    display: flex;
    align-items: center;
    width: fit-content;
}
.web-inner .webpage {
    height: 45vh;
    box-shadow: 6px 12px 17px #0000000d;
}
.web-inner .webpage a {display: block;}
.web-inner .webpage .site-img img {height: 100%;}
.web-inner .webpage:nth-child(even) {margin-top: -16.8vh;}
.web-inner .webpage:nth-child(2) {margin-left: -13vw;}
.web-inner .webpage:nth-child(n+2) {margin-right: 15vw;}
.web-inner .webpage-desc {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.web-inner .webpage-desc .left-bg img {
    width: 100vw; height: 100vh;
    object-fit: cover;
}
.web-inner .webpage-desc .right-cont {
    position: absolute;
    top: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%; height: 100%;
    background: #eee;
}
.web-inner .webpage-desc .right-cont .small-img {
    position: absolute;
    top: 50%; left: 0;
    width: 30%;
    transform: translate(-50%, -50%);
}
.web-inner .webpage-desc .right-cont .small-img img {width: 100%;}
.web-inner .webpage-desc .right-cont .title {
    font-size: 8.6rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.5rem;
}
.web-inner .webpage-desc .right-cont span {display: block;}
.web-inner .webpage-desc .right-cont .cont {
    margin-top: 24px;
    font-size: 2.4rem;
}
.web-inner .website-text {
    position: absolute;
    bottom: 40px; left: 50%;
    width: 100%;
    color: #fff;
    transform: translateX(-50%);
    text-align: center;
}
.web-inner .website-text .title {
    font-size: 4.2rem;
    font-weight: 700;
}
.web-inner .website-text .cont {
    margin-top: 14px;
    font-size: 1.8rem;
}

/* ================= Projects */
#projects {
    width: 100vw; height: 100vh;
    overflow: hidden;
}
#projects h3 {
    position: absolute;
    bottom: 43px; left: 50%; transform: translateX(-50%);
    font-size: 3.4rem;
    letter-spacing: -0.1rem;
    z-index: 99;
    text-align: center;
}
#projects h3 span {display: block;}
#projects h3 span:not(.ff-en) {
    margin-top: 5px;
    font-size: 1.6rem;
}
.proj-inner {
    position: relative;
    width: 100vw; height: 100vh;
}
.proj-inner article.intro {cursor: default;}
.proj-inner article {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    width: 100vw; height: 100vh;
    background: #c2ced6;
    overflow: hidden;
    z-index: 5;
    cursor: pointer;
}
.proj-inner article:nth-child(2) {z-index: 4;}
.proj-inner article:nth-child(3) {z-index: 3;}
.proj-inner article:nth-child(4) {z-index: 2;}
.proj-inner article:nth-child(5) {z-index: 1;}
.proj-inner .proj-screen {
    display: flex;
    width: 100vw; height: 100vh;
    justify-content: center;
    align-items: center;
}
.proj-inner .proj-wrap {
    position: relative;
    display: flex;
    width: 100vw; height: 100vh;
    transform: scale(0.7);
    background: #fff;
    justify-content: center;
    align-items: center;
}
.proj-inner .side-text {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.proj-inner .side-text p {
    position: absolute;
    top: 0; left: 0;
    font-size: 1.8rem;
    font-weight: 300;
    
}
.proj-inner .side-text .top {
    top: 60px; left: 50%; transform: translateX(-50%);
    width: 100%;
    line-height: 1.3;
    text-align: center;
}
.proj-inner .side-text .left {
    top: 50%; left: -26px;
    transform: translateY(-50%) rotate(-90deg);
}
.proj-inner .side-text .right {
    top: 50%; left: auto; right: -26px;
    transform: translateY(-50%) rotate(90deg);
}
.proj-inner .middle-cont .img-wrapper {
    position: relative;
    height: 63.5vh;
    margin: 0 auto;
    z-index: 9;
}
.proj-inner .middle-cont img {height: 100%;}
.proj-inner .middle-cont h4 {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    font-size: 9.2vw; color: #ddd;
    text-align: center;
    cursor: default;
}
.proj-inner .intro .middle-cont h4 {
    z-index: 9;
    color: #2c2c2c;
}
.proj-inner .hover-cont {
    position: absolute;
    top: 0; left: 0;
    padding: 70px 2.5vw;
    width: 100%; height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}
.proj-inner .hover-cont .title {
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: -0.5rem;
}
.proj-inner .hover-cont .txt {
    margin: 20px 0 24px;
    font-size: 2.2rem;
}
.proj-inner .hover-cont .btns {
    display: flex;
    gap: 0 11px;
}
.proj-inner .hover-cont .btns li a {
    display: block;
    padding: 10px 13px;
    font-size: 2rem;
    background: #fff;
    border-radius: 3px;
}
.proj-inner article:nth-child(2) {background: #cfccde;}
.proj-inner article:nth-child(3) {background: #bfb69d;}
.proj-inner article:nth-child(4) {background: #c5d3c0;}
.proj-inner .proj-wrap:hover .hover-cont {
    visibility: visible;
    opacity: 1;
}


/* ========================================== TABLET */
@media screen and (max-width:1200px){
    /* ================= Company Portfolio */
    .comp-inner .pj-front .front-wrap .items-row .items {width: 25.74vw;}
    .comp-inner .pj-back .back-wrap .items-row .items {width: 20.5vw;}

    /* ================= Website */
    .web-inner .webpage-desc .right-cont .small-img {visibility: hidden;}
    .web-inner .webpage-desc .right-cont .title {font-size: 6rem;}

    /* ================= Projects */
    .proj-inner .hover-cont {padding: 70px 6.2vw}
}


/* ========================================== MOBILE */
@media screen and (max-width:500px){
    .mobile {display: block;}
    /* ================= INTRO */
    .intro-inner .name {
        font-size: 9.2vmax;
    }
    .intro-inner .info {
        margin-top: 15px;
        font-size: 1.6rem;
    }
    .intro-inner .info p:nth-child(2) {margin-top: 3px;}

    /* ================= WALL */
    .wall-inner .wall-label {font-size: 8vw;}
    .wall-inner > div {padding: 128px 0;}

    /* ================= Company Portfolio */
    #company_project {height: 70vh !important;}
    .comp-inner .pj-front .front-wrap .items-row .items {
        width: 35.74vw;
    }
    .comp-inner .pj-front .front-wrap .items-row .items:is(:nth-child(3), :nth-child(4)) {display: none;}
    .comp-inner .pj-back .back-wrap .items-row .items {width: 25vw;}
    .comp-inner .pj-back .back-wrap .items-row .items:last-child {left: 53.8vw;}

    /* ================= Website */
    .web-inner .webpage-desc .right-cont {width: 84.6%;}
    .web-inner .webpage-desc .right-cont .title {font-size: 4rem;}
    .web-inner .webpage-desc .right-cont .cont {
        font-size: 1.6rem;
        text-align: center;
    }
    .web-inner .website-text {
        bottom: 0;
        padding: 14px 0;
        color: #817965;
        background: #d5d1c6;
    }
    .web-inner .website-text .title {font-size: 2.4rem;}
    .web-inner .website-text .cont {
        margin-top: 6px;
        font-size: 1.5rem;
        line-height: 1.2;
        padding: 0 15px;
        word-break: keep-all;
    }
    .web-inner .website-list {
        display: block;
        width: auto;
    }
    .web-inner .webpage {
        height: auto;
        width: 82vw;
    }
    .web-inner .webpage .site-img img {height: auto; width: 100%;}
    .web-inner .webpage:nth-child(even) {margin-top:0;}
    .web-inner .webpage:nth-child(n+2) {margin: 50px auto 0}
    .web-inner .webpage:nth-child(2) {margin-top: 0;}
    .web-inner .webpage-desc {
        width: 100%;
        margin: 0 auto;
    }

    /* ================= Projects */
    .proj-inner article:not(.intro) .proj-wrap {height: 70vh;}
    .proj-inner .side-text .top {
        top: 30px;
        white-space: pre-line;
    }
    .proj-inner .side-text p {font-size: 1.5rem;}
    .proj-inner .side-text :is(.left, .right) {display: none;}
    #projects h3 {bottom: 25px;}
    .proj-inner .proj-wrap {transform: scale(0.85);}
    .proj-inner article:not(.intro) .middle-cont .img-wrapper {width: 100%; height: auto;}
    .proj-inner article:not(.intro) .middle-cont img {width: 100%; height: auto;}
    .proj-inner .hover-cont .title {
        font-size: 3rem;
        letter-spacing: -0.1rem;
    }
    .proj-inner .hover-cont .txt {
        font-size: 1.8rem;
        line-height: 1.2;
    }
    .proj-inner .hover-cont .btns li a {font-size: 1.7rem;}
}